<!--Стрим пропускаем через асинк пайп что бы англуяр получил данные относительно этого стрима и потом необходимо перобразовать данные из этого стрима в локальную переменную post-->
<div *ngIf="posts$ | async as posts; else loading">
  <app-post *ngFor="let post of posts"
                  [post]="post">
  </app-post>
</div>

<div>
  <app-slider>
    <span class="head-text_for_slider"> Закажи консультацію та візьми котика в подарунок </span>
  </app-slider>
</div>

<ng-template #loading>Загрузка постов....</ng-template>

