.alert-wrap {
  position: fixed;
  top: 100px;
  right: 40px;
  max-width: 200px;
}

.alert-success {
  background-color: green;
  padding: 10px;
  font-size: 25px;
  color: #cccccc;
}

.alert-delete {
  background-color: red;
  padding: 10px;
  font-size: 25px;
  color: #cccccc;
}

.alert-warning {

}
